/* body {
    font-family: italic, sans-serif;
    background-color: blueviolet;
    color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
} */

footer {
    background-color:#222f3e;
    color: #2e86de;
    padding: 20px;
    text-align: center;
}