/* .produtos {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

#header > .produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img {
    display: inline;
    margin-left: 8px;
} */
.produto-imagem {
    /* elemento */
    width: 100%;
}